<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Profite</h1>
        <nav>
            <ul>
                <li><label for="search">Pesquizar</label></li>
                <li>Minha Conta</li>
                <li>Carrinho</li>
            </ul>
        </nav>

    </header>
    <aside>
        <div id="mostrando">Nossa especialidade: Experiência de compra</div>
        <div id="talvez_mostrando"></div>
    </aside>
    <article>
        <div>Produtos</div>
        <div class="produtos">
            {%for item in produtos_list%}
                <div class="imagem_produto">
                    <img src="{{url_for('static', filename=item.imagem)}}">
                </div>
                <div class="informacoes">
                </div>
            {%endfor%}
        </div>
    </article>
    <footer>
            <div class="sedes">
                <div id="localizacao">Localização</div>
                <div id="sedeSP">
                    <p>São Paulo</p>
                    <p>Rua do Rócio,423,1801</p>
                    <p>Vila Olímpia-SP</p>
                    <p>04552-000</p>
                    <p>+55 11 3333 3333</p>
                </div>
                <div id= sedeRJ>
                    <p>Rio de Janeiro</p>
                    <p>Vol. da Pátria,301/702</p>
                    <p>Botafogo-RJ</p>
                    <p>22270-000</p>
                    <p>+55 21 3333 3333</p>
                </div>
            </div>
            <div class="contato">
                <div id="mensagem">
                    <input value="Entre em Contato" type="button"/>
                </div>
                <div id="falar">
                    <input value="Fale com o nosso consultor online" type="button">
                </div>
                </div>
            <div class="criadores">
                <div id="criado">
                    <p>Created by</p>
                    <p>Profite</p>
                </div>
                <div id="patrocinado">
                    <p>powered by</p>
                    <p>VTex</p>
                </div>
            </div>
    </footer>
</body>
</html>