<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='css/home.css')}}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Profite</h1>
        <nav>
            <ul>
                <li><label for="search">Pesquizar</label></li>
                <li>Minha Conta</li>
                <li>Carrinho</li>
            </ul>
        </nav>

    </header>
    <aside>
        <div id="mostrando">Nossa especialidade: Experiência de compra</div>
        <div id="talvez_mostrando"></div>
    </aside>
    <article>
        <div>Produtos</div>
        <div class="produtos">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis earum ducimus nesciunt quisquam repellat sit nihil ullam. Impedit earum odio placeat exercitationem accusantium, rerum saepe eaque aut laboriosam perferendis magni dolores maxime molestias quisquam rem adipisci voluptatum labore suscipit assumenda quidem modi itaque nulla sapiente. Aut dignissimos, laudantium fuga reiciendis dolorum consequuntur impedit sequi adipisci omnis quas! Libero eligendi voluptas rerum aliquam accusamus omnis repellendus inventore nobis ea. Quasi nihil dolores nemo velit ab facilis tempore perferendis excepturi sit necessitatibus at tempora rerum deserunt minus, delectus asperiores totam aspernatur quos, omnis cupiditate! Ab repellat totam aliquid error dicta aperiam! Culpa?
        </div>
    </article>
    <footer>
            <div class="sedes">
                <div id="localizacao">Localização</div>
                <div id="sedeSP">
                    <p>São Paulo</p>
                    <p>Rua do Rócio,423,1801</p>
                    <p>Vila Olímpia-SP</p>
                    <p>04552-000</p>
                    <p>+55 11 3333 3333</p>
                </div>
                <div id= sedeRJ>
                    <p>Rio de Janeiro</p>
                    <p>Vol. da Pátria,301/702</p>
                    <p>Botafogo-RJ</p>
                    <p>22270-000</p>
                    <p>+55 21 3333 3333</p>
                </div>
            </div>
            <div class="contato">
                <div id="mensagem">
                    <input value="Entre em Contato" type="button"/>
                </div>
                <div id="falar">
                    <input value="Fale com o nosso consultor online" type="button">
                </div>
                </div>
            <div class="criadores">
                <div id="criado">
                    <p>Created by</p>
                    <p>Profite</p>
                </div>
                <div id="patrocinado">
                    <p>powered by</p>
                    <p>VTex</p>
                </div>
            </div>
    </footer>
</body>
</html>